/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2018, 3:26:46 PM
    Author     : mr.Andersen
*/

#AnchorPane
{
    -fx-background-image: url("http://www.troldtekt.com/~/media/Case%20Images/Education/EASV%20Esbjerg/Troldtekt_EASV_Esbjerg_10.jpg");
    -fx-background-size: stretch
}

.jfx-button
{
    -fx-background-color: whitesmoke;
}

#OurLabel
{   
    -fx-font: 28px Tahoma;
    -fx-font-weight: bold;
    -fx-text-fill:  azure;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#buttonForStudentPicture
{
    font-weight: bold;
    -fx-background-radius: 10em; 
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

#buttonForStudentPicture:hover
{
    font-weight: bold;
    -fx-background-radius: 5000em; 
    -fx-min-width: 200px;
    -fx-min-height: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}

#buttonForStudentPictureSelected
{
    -fx-background-color: green;
    font-weight: bold;
    -fx-background-radius: 5000em; 
    -fx-min-width: 200px;
    -fx-min-height: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}

#buttonForStudentPictureSelected:hover
{
    -fx-background-color: background;
    font-weight: bold;
    -fx-background-radius: 5000em; 
    -fx-min-width: 200px;
    -fx-min-height: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}